APP_URL="MY_APP_URL"

GEMINI_API_KEY=AIzaSyAeg2kj9bzfESuOKu7O03dOcgK8_9j04-w
YOUTUBE_API_KEY=AIzaSyCPXXePTV6yogrLMSJCFwuTpYMhC66dXkE
MONGODB_URI=mongodb+srv://abccartoon9876_db_user:PPa97k9VCTrj99NS@cluster0.ljutrtf.mongodb.net/?appName=Cluster0